<div id="background"></div>

<style>
/* Background */
#background {
    background: #348cb2 url("../{{ site.front_img_path }}") bottom left;
    background-repeat: repeat-x;
    height: 100%;
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    z-index: -999;
    
    /* Animation */
    -moz-animation: background 60s linear infinite;
    -webkit-animation: background 60s linear infinite;
    -ms-animation: background 60s linear infinite;
    animation: background 60s linear infinite;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

@keyframes background {
    0% {
        -moz-transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    100% {
        -moz-transform: translate3d(-2250px,0,0);
        -webkit-transform: translate3d(-2250px,0,0);
        -ms-transform: translate3d(-2250px,0,0);
        transform: translate3d(-2250px,0,0);
    }
}

#background {
	/* Keep seperate for screen size override */
    background-size: auto;
    width: 6750px;
}
    
/* Screen size formating */
/* Wide */
@media screen and (max-width: 1680px) {
    @keyframes background {
        0% {
            -moz-transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
        100% {
            -moz-transform: translate3d(-1500px,0,0);
            -webkit-transform: translate3d(-1500px,0,0);
            -ms-transform: translate3d(-1500px,0,0);
            transform: translate3d(-1500px,0,0);
        }
    }

	#background {
        background-size: 1500px auto;
        width: 4500px;
    }
}

/* Normal */
@media screen and (max-width: 1280px) {
    @keyframes background {
        0% {
            -moz-transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
        100% {
            -moz-transform: translate3d(-750px,0,0);
            -webkit-transform: translate3d(-750px,0,0);
            -ms-transform: translate3d(-750px,0,0);
            transform: translate3d(-750px,0,0);
        }
    }
    
    #background {
        background-size: 750px auto;
        width: 2250px;
    }
}

/* Mobile (Landscape) */
@media screen and (max-width: 736px) {
    @keyframes background {
        0% {
            -moz-transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }
        100% {
            -moz-transform: translate3d(-300px,0,0);
            -webkit-transform: translate3d(-300px,0,0);
            -ms-transform: translate3d(-300px,0,0);
            transform: translate3d(-300px,0,0);
        }
    }

    #background {
        background-size: 300px auto;
        width: 900px;
    }
}
</style>