<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ site.url }}"> 
        <link rel="stylesheet" href="css/main.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    </head>
    
    <body>
        <div id="wrapper">
            <div id="background"></div>

            {{ content }}
        
            {% include footer.html %}
        </div>
    </body>
</html>